<div class="{{classPrefix}}">
<h1>
  <a{{#if authed}} title="{{__ '返回主页'}}" href="/"{{/if}}>{{__ title}}</a>
</h1>
<div class="wrapper">
{{#if authed}}
  <button class="iconfont iconfont-toggle"></button>
{{/if}}
  <ul>
  {{#if languages}}
    <li class="route-i18n">
      <select data-role="i18n">
      {{#each languages}}
        <option value="{{value}}"{{#if selected}} selected{{/if}}>{{text}}</option>
      {{/each}}
      </select>
    </li>
  {{/if}}
{{#if authed}}
  {{#if userdata}}
    <li class="route-me">
      <a href="javascript:;" data-role="me">
        <img class="avatar" src="{{userdata.avatar}}" onerror="this.src='{{userdata.avatar_alt}}';this.onerror=''">
        <span>{{userdata.nick_name}}</span>
      </a>
    </li>
  {{/if}}
  {{#each routes}}
    <li class="route-{{route}}">
      <a href="/#/{{route}}" data-route="{{route}}">{{__ title}}</a>
    </li>
  {{/each}}
{{/if}}
  </ul>
</div>
</div>
